:root {
  --bg-gray-500: #242424;
  --font-primary: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: dark light;
  color: rgba(255, 255, 255, 1);
  background-color: var(--bg-gray-500);
}

body {
  font-family: var(--font-primary);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
  display: block;
  &&:visited {
    color: white;
  }
}

button {
  border: none;
}

.title {
  text-align: center;
  font-size: 3.2em;
  margin: 0;
}

.main-container {
  margin: 0 auto;
  min-height: 100vh;
  width: 100wv;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.container {
  min-width: min(95%);
}

header,
footer {
  padding: 1rem 0;
  margin: 0;
  background-color: black;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  font-weight: 700;
  a {
    line-height: 1rem;
  }
}

footer {
  font-weight: 700;
  text-align: center;
}

.form {
  width: auto;
  margin: 0 auto;
  padding: 1rem;
  background-color: crimson;
  opacity: 80%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form__div,
.form__div-snippet {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label {
  font-weight: 700;
}

.form__input-name,
.form__snippet-textarea {
  display: block;
  width: inherit;
  margin: 0;
}

.form__input-name {
  padding: 0.5rem 1rem;
}
.form__snippet-textarea {
  padding: 1rem;
  resize: vertical;
}

input,
textarea {
  font-size: 1rem;
  background: var(--bg-gray-500);
  border-radius: 0.5rem;
  border: 2px solid gray;
  &&:focus {
    outline: none;
  }
}

.form__input-submit {
  padding: 0.5rem 0;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background-color: mintcream;
  color: black;
  transition: background 0.3s ease;
  cursor: pointer;
  &&:hover {
    background-color: rgb(214, 224, 219);
  }
}

.notification-container {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.notification {
  animation: fadeInOut 3s ease-in-out forwards;
  padding: 0.75rem 1rem;
  background-color: #323232;
  color: white;
  font-weight: 500;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  border-radius: 0.5rem;
  cursor: default;
}

.error {
  color: red;
  border: 1px red solid;
}

.success {
  color: aquamarine;
  border: 1px aquamarine solid;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  10% {
    opacity: 1;
    transform: translateX(0);
  }
  90% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(50%);
  }
}

/* index.js */
.snippets__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.snippets__container-card {
  margin: 0 auto;
  width: min(90%, 30rem);
  background-color: azure;
  color: var(--bg-gray-500);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.2);
}

.snippets__container-actions {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.btn {
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background 0.3s ease-in-out;
  font-weight: 600;
  cursor: pointer;
}
.btn-edit {
  background-color: rgb(57, 128, 156);
  &&:hover {
    background-color: rgb(73, 163, 199);
  }
}
.btn-delete {
  background-color: rgb(156, 57, 57);
  &&:hover {
    background-color: rgb(189, 69, 69);
  }
}

.title__snippets {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.snippet__title {
  padding: 0rem;
  margin: 0rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--bg-gray-500);
}

.snippet__content {
  background-color: var(--bg-gray-500);
  color: azure;
  padding: 0.5rem;
  margin: 0;
  border-radius: 0.25rem;
  white-space: pre-wrap;
}
